<%- include('./partials/header') %>
    <div class="container-form">
        
        <div class="form-register">
            <form id="form-register" action="/users/cadastrar" method="POST" >
                <div class="title-form">
                    <h1>Criar Conta</h1>
                </div>
                <div class="inputs-box-register">
                    <label for="name">Nome</label>
                    <input type="text" name="name" id="name" value="<%= locals.oldData ? oldData.name: null %>"
                        >
                </div>
                <% if(locals.errors && errors.name)  { %>
                    <span id="msg-name"> <%= errors.name.msg %> </span>
               <% } %> 
                <div class="inputs-box-register">
                    <label for="email">E-mail</label>
                        <input type="text" name="email" id="email" 
                        value="<%= locals.oldData ? oldData.email: null %>"
                        >
                </div>
                <% if(locals.errors && errors.email)  { %>
                    <span id="msg-name"> <%= errors.email.msg %> </span>
               <% } %>
                <div class="inputs-box-register">
                    <label for="password">Senha</label>
                    <input type="password" name="password" id="password">
                        
                </div>
                <% if(locals.errors && errors.password)  { %>
                    <span id="msg-name"> <%= errors.password.msg %> </span>
               <% } %>
                <div class="inputs-box-register">
                    <label for="confPasswor">Confirme a senha</label>
                    <input type="password" name="confPassword" id="confPassword">
                </div>
                
                <span id="description-password">
                    deve conter ao menos um dígito <br>
                    deve conter ao menos uma letra minúscula <br>
                    deve conter ao menos uma letra maiúscula <br>
                    deve conter ao menos um caractere especial <br>
                    deve conter ao menos 8 dos caracteres mencionados</span>
                <button class="btn-register" type="submit">Enviar</button>
            </form>
        </div>
    </div>
    <%- include('./partials/footer') %>
    <script src="/javascripts/register.js"></script>
</body>
</html>